@import "./styles/colors.css";
@import "./styles/animations.css";
@import "./styles/fonts.css";
@import "./styles/media.css";

/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

/* Header Blocks */

header {
  background-color: var(--main-background-color);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 1rem;
  font-family: var(--font-main);
}

nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 5rem;
  justify-content: space-between;
}

.nav__pages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 5rem;
  position: absolute;
  left: 0;

  font-size: 1.618rem;
}

.nav__pages a {
  text-decoration: none;
  color: white;
  font-family: var(--font-main);
  font-size: 1.5rem;
}

.nav__pages a:hover {
  color: var(--accent-color);
  transition: color 0.3s linear;
}

.header__logo {
  width: 6rem;
  height: auto;
}

.header__link {
  margin-top: 1.5rem;
}

.header__btn__container {
  border: none;
  display: flex;
  flex-flow: column nowrap;
  margin-left: auto;
  padding: 1rem;
  text-decoration: none;
  width: 8rem;
  font-size: 1rem;
}

.header__btn__container a:hover {
  color: var(--accent-color);
  transition: color 0.3s linear;
  cursor: pointer;
  z-index: 10;
}

.header__btn--design {
  background-color: var(--main-background-color);
  border-radius: 40px;
  border: solid white 1px;
  color: white;
  margin: 0.313rem;
  text-align: center;
}

/* Main Blocks - Title, description text, card */

main {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* min-height: calc(100vh - 5rem);   */
  height: 100%;
}

.main__titre {
  display: flex;
  justify-content: center;
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 2.618rem;
}

.main__sous-titre {
  display: block;
  overflow: hidden;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 110px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  font-family: var(--font-main);
}

.main__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  height: 18.75rem;
  width: 16rem;
  border: solid white 1px;
  border-radius: 40px;
}

.main__card__img {
  height: 8rem;
}

.main__card__text {
  text-align: center;
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: var(--font-main);
}

.main__cta {
  align-items: center;
  margin-top: 2rem;
  background-color: var(--accent-color);
  border-radius: 40px;
  color: black;
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  height: 50px;
  justify-content: center;
  margin: auto;
  text-decoration: none;
  width: 250px;
  font-family: var(--font-accent);
}

main,
a {
  text-decoration: none;
}

footer {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
}

.footer__media {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 2rem;
}

.footer__icon {
  height: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.footer__rgpd a {
  color: grey;
  font-size: 0.5rem;
  text-decoration: underline;
  text-underline-offset: 3px;
}
